$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     1200px;

$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "csstyle/csstyle.scss";
// endbower

@import "components/navbar";

@include component(table) {
  tr:nth-child(1) {
    font-weight: bold;
  }
}

@media (min-width: $screen-md-min) {
  @include component(entrycolumn) {
    padding: 10px;
    padding-top: 0;
  }

  @include tweak(fullheight) {
    height: 100%;
    overflow: auto;
  }
}



h2 {
  font-size: 20px;
//  text-align: center;
  color: rgb(242, 94, 0);
  margin-bottom: 20px;
}
h2 {
  margin-top: 40px;
}

h3, h4 {
  font-size: 16px;
  font-weight: normal;
  color: rgb(242, 94, 0);
}

label {
  font-weight: normal;
}

// ui-select multiple selection mode
// - automatically wrap selection text to multiple lines without overflow
// - make selections fit entire width
// - align text to left
span.ui-select-match-item.btn.btn-default.btn-xs {
  white-space: normal;
  text-align: left;
  width: 100%;
}

// ui-select single selection mode
// - automatically wrap selection text to multiple lines without overflow
// - auto expand height to contain selected multiple line option
//   34px when a single line item is selected (switches to wrong height when initiating dropdown)
span.btn.btn-default.form-control.ui-select-toggle {
  white-space: normal;
  height: auto;
  min-height: 34px;
}

// ensure the options in the ui-select dropdown are automatically wrapped
a.ui-select-choices-row-inner > div {
  white-space: normal;
}

accordion h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

#columnToggleIcon {
  opacity: 0.5;
}

#columnToggleIcon:hover {
  opacity: 1.0;
}

.leaflet-control.legend {
  padding: 1ex;
  font-size: 11px;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: rgba(0,0,0,.2) 0 0 4px 2px;
  background-color: rgba(255,255,255,0.9);
}

.leaflet-control.legend ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.leaflet-control.legend li {
  padding: 2px;
}

.leaflet-control.legend .bullet {
  width: 15px;
  height: 15px;
  margin-right: 1ex;
  float: left;
  border: 1px solid #888888;
  border-radius: 50%;
}
