$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";

//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     1200px;

$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../node_modules/csstyle/csstyle.scss";
@import "../../node_modules/ui-select/dist/select.css";
@import "../../node_modules/font-awesome/css/font-awesome.css";
@import "../../node_modules/angular-loading-bar/build/loading-bar.css";
@import "../../node_modules/nvd3/build/nv.d3.css";
@import "../../node_modules/leaflet/dist/leaflet.css";

@import "components/navbar";

@include component(table) {
  tr:nth-child(1) {
    font-weight: bold;
  }
}

@media (min-width: $screen-md-min) {
  @include component(entryattribute) {
    padding: 10px;
    padding-top: 0;
  }

  @include tweak(fullheight) {
    height: 100%;
    overflow: auto;
  }
}

.region-map {
  min-height: 300px;
  height:100%;
  width:100%;
}

h2 {
  font-size: 20px;
//  text-align: center;
  color: rgb(242, 94, 0);
  margin-bottom: 20px;
}
h2 {
  margin-top: 40px;
}

h3, h4 {
  font-size: 16px;
  font-weight: normal;
  color: rgb(242, 94, 0);
}

label {
  font-weight: normal;
}

// ui-select multiple selection mode
// - automatically wrap selection text to multiple lines without overflow
// - make selections fit entire width
// - align text to left
span.ui-select-match-item.btn.btn-default.btn-xs {
  white-space: normal;
  text-align: left;
  width: 100%;
}

// ui-select single selection mode
// - automatically wrap selection text to multiple lines without overflow
// - auto expand height to contain selected multiple line option
//   34px when a single line item is selected (switches to wrong height when initiating dropdown)
span.btn.btn-default.form-control.ui-select-toggle {
  white-space: normal;
  height: auto;
  min-height: 34px;
}

// ensure the options in the ui-select dropdown are automatically wrapped
.ui-select-bootstrap .ui-select-choices-row > span.ui-select-choices-row-inner > div {
  white-space: normal;
  padding: 1rem 0;
}

accordion h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

#attributeToggleIcon {
  opacity: 0.5;
}

#attributeToggleIcon:hover {
  opacity: 1.0;
}

#mapColumn {
  padding: 0;
}

#map-toggle {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('data:image/svg+xml;utf8,<svg height="10" width="5" xmlns="http://www.w3.org/2000/svg"><path d="M0 5 L5 0 L5 10 Z" /></svg>');
  opacity: 0.1;
  top: 0;
  right: 0;
  height: 100%;
  width: 20px;
  position: absolute;
  margin: 0;
  z-index: 1000;
}

#map-toggle:hover {
  opacity: 0.8;
}

.leaflet-control.legend, .leaflet-control.feature-hover {
  padding: 1ex;
  font-size: 11px;
  border-radius: 4px;
  box-shadow: rgba(0,0,0,.2) 0 0 4px 2px;
  background-color: rgba(255,255,255,0.9);
}

.leaflet-control.feature-hover {
  text-align: right;
  max-width: 30em;
}

.leaflet-control.feature-hover h1 {
  font-size: 150%;
  line-height: 100%;
  margin: 0;
}

.leaflet-control.feature-hover dl {
  margin: 1ex 0 0 0;
}

.leaflet-control.feature-hover dt {
  font-weight: normal;
  font-style: italic;
}

.leaflet-control.legend ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.leaflet-control.legend li {
  padding: 2px;
}

.leaflet-control.legend .bullet {
  width: 15px;
  height: 15px;
  margin-right: 1ex;
  float: left;
  border: 1px solid #888888;
  border-radius: 50%;
  opacity: 0.7;
}
