@include component(navbar) {
  @extend .navbar-inverse;
  margin-bottom: 0;
  background-color: #000033;
//  color: #300000;
  border-radius: 0;
  border: none;

  .navbar-brand {
    color: white;
    font-size: 22px;
  }
//  .navbar-nav > li > a {
//    color: #300000;
//  }
  .navbar-nav > .active > a {
    background-color: #5486c1;
    color: white;
  }
  .nav > li > a {
    padding: 15px 10px;
  }
}
