.highlighted-topic {
  text-align: right;
}

.highlighted-topic .description {
  text-transform: uppercase;
  font-size: 125%;
  color: #444444;
  display: inline-block;
  width: 50%;
  text-align: left;
  padding-left: 1em;
}

.highlighted-topic .value {
  font-size: 300%;
}
