<h2 style="margin-top: 10px;">{{vm.region.name}}</h2>
<uib-tabset active="sidebarActiveTab">
  <uib-tab index="0" heading="Population">
    <highlighted-topic
      description="Indigenous"
      region-type="vm.regionType"
      region="vm.region"
      attribute-selector="census2011_proportion_all_persons_indigenous">
    </highlighted-topic>
    <highlighted-topic
      description="Population (Census&nbsp;2011)"
      region-type="vm.regionType"
      region="vm.region"
      attribute-selector="census2011_all_persons_total">
    </highlighted-topic>
    <time-series-chart
      description="Population (estimated)"
      region-type="vm.regionType"
      region="vm.region"
      attribute-selector="erp\d+_persons_all"
      sorter="vm.sortByAttributeNameNumbers"
      refresh-on="sidebarActiveTab">
    </time-series-chart>
    <topic-breakdown-bar
      description="Indigenous persons by age (2011)"
      region-type="vm.regionType"
      region="vm.region"
      attribute-selector="census2011_(aggregate_\d+\w+|\d+plus)_persons_indigenous"
      sorter="vm.sortByAttributeNameNumbers"
      refresh-on="sidebarActiveTab">
    </topic-breakdown-bar>
    <topic-breakdown-bar
      description="All persons by age (2011)"
      region-type="vm.regionType"
      region="vm.region"
      attribute-selector="census2011_(aggregate_\d+\w+|\d+plus)_persons_total"
      sorter="vm.sortByAttributeNameNumbers"
      refresh-on="sidebarActiveTab">
    </topic-breakdown-bar>
  </uib-tab>
  <uib-tab index="1" heading="Education">
    <highlighted-topic
      description="Indigenous Year 12 educated"
      region-type="vm.regionType"
      region="vm.region"
      attribute-selector="census2011_proportion_year_12_educated_indigenous_persons">
    </highlighted-topic>
    <highlighted-topic
      description="General Year 12 educated"
      region-type="vm.regionType"
      region="vm.region"
      attribute-selector="census2011_proportion_year_12_educated_all_persons">
    </highlighted-topic>
    <topic-breakdown-bar
      description="Indigenous working age persons tertiary education (2011)"
      region-type="vm.regionType"
      region="vm.region"
      attribute-selector="census2011_aggregate_indigenous_working_age_persons_tertiary_education_(none|certificate|diploma|bachelor|postgraduate)"
      sorter="vm.sortByEducation"
      refresh-on="sidebarActiveTab">
    </topic-breakdown-bar>
    <topic-breakdown-bar
      description="All working age persons tertiary education (2011)"
      region-type="vm.regionType"
      region="vm.region"
      attribute-selector="census2011_aggregate_all_working_age_persons_tertiary_education_(none|certificate|diploma|bachelor|postgraduate)"
      sorter="vm.sortByEducation"
      refresh-on="sidebarActiveTab">
    </topic-breakdown-bar>
  </uib-tab>
  <uib-tab index="2" heading="Income">
    <highlighted-topic
      description="Median Household - Indigenous"
      region-type="vm.regionType"
      region="vm.region"
      attribute-selector="census2011_median_weekly_household_income_indigenous">
    </highlighted-topic>
    <topic-breakdown-bar
      description="Indigenous households weekly income (2011)"
      region-type="vm.regionType"
      region="vm.region"
      attribute-selector="census2011_(\d.+)_weekly_household_income_indigenous"
      sorter="vm.sortByAttributeNameNumbers"
      refresh-on="sidebarActiveTab">
    </topic-breakdown-bar>
    <highlighted-topic
      description="Median Household - All"
      region-type="vm.regionType"
      region="vm.region"
      attribute-selector="census2011_median_weekly_household_income_all">
    </highlighted-topic>
    <topic-breakdown-bar
      description="All households weekly income (2011)"
      region-type="vm.regionType"
      region="vm.region"
      attribute-selector="census2011_(\d.+)_weekly_household_income_all"
      sorter="vm.sortByAttributeNameNumbers"
      refresh-on="sidebarActiveTab">
    </topic-breakdown-bar>
  </uib-tab>
</uib-tabset>
