<div class="modal-header">
  <h3 class="modal-title">Linear Regression</h3>
</div>
<div class="modal-body">
  <div>
    <nvd3 id="RegressionGraphModal" options="modalCfg" data="vm.linearRegression.resultsData"></nvd3>
  </div>
  <a data-download-link
    role="button" class="btn btn-default"
    filename="'data.png'"
    mime-type="'image/png'"
    content="vm.nvd3ToPng('RegressionGraphModal')"
    ng-disabled="!vm.linearRegression.resultsData">
    <i class="fa fa-image"></i>
    Download (PNG)
  </a>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>
