<div class="+fullheight">

    <div class="container-fluid +fullheight">

        <div class="row +fullheight">
            <div class="col-md-3 +fullheight">

                <div class="entrycolumn">
                    <h2 style="margin-top: 30px;">
                        <i class="fa fa-globe"></i> Places</h2>
                    <div class="form-group">
                        <label>Choose a Place <small class="text-muted">Required</small></label>
                        <ui-select
                                theme="bootstrap"
                                ng-model="vm.vis.locations[0]"
                                ng-disabled="disabled"
                                reset-search-input="true"
                                style="width: 100%;"
                                on-select="vm.selectedLocationsChanged($item, $model)"
                                on-remove="vm.selectedLocationsChanged($item, $model)">
                            <ui-select-match placeholder="Search for a place">
                                {{ $select.selected.name }}
                            <span class="text-uppercase text-muted">
                                {{ $select.selected.type }}
                            </span>
                            </ui-select-match>
                            <ui-select-choices repeat="location in vm.locations | propsFilter: {name: $select.search}"
                                               refresh="vm.refreshLocations($select.search)"
                                               refresh-delay="0">

                                <span ng-bind-html="location.name | highlight: $select.search"></span>
                            <span class="text-uppercase text-muted">
                                {{ location.type }}
                            </span>
                            </ui-select-choices>
                        </ui-select>
                    </div>



                    <div ng-show="vm.vis.locations.length > 0">

                        <div ng-hide="vm.vis.locations[0].type === 'country'">
                            <p>Choose a comparison place <small class="text-muted">Optional</small></p>
                            <ui-select
                                    theme="bootstrap"
                                    ng-model="vm.vis.locations[1]"
                                    ng-disabled="disabled"
                                    reset-search-input="true"
                                    style="width: 100%;"
                                    on-select="vm.selectedLocationsChanged($item, $model)"
                                    on-remove="vm.selectedLocationsChanged($item, $model)">
                                <ui-select-match placeholder="Search for a place">
                                    {{ $select.selected.name }}
                                <span class="text-uppercase text-muted">
                                    {{ $select.selected.type }}
                                </span>
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="location in vm.locations | propsFilter: {name: $select.search}"
                                        refresh="vm.refreshLocations($select.search)"
                                        refresh-delay="0">
                                    <span ng-bind-html="location.name | highlight: $select.search"></span>
                                <span class="text-uppercase text-muted">
                                    {{ location.type }}
                                </span>
                                </ui-select-choices>
                            </ui-select>
                        </div>


                        <div style="margin-top: 20px;" ng-show="vm.vis.locations[0].type !== 'iloc' || vm.vis.locations[1] && vm.vis.locations[1].type !== 'iloc'">
                            <h5>Remoteness</h5>
                            <p class="text-muted">Only show <abbr title="Indigenous Locations">ILOCs</abbr> with this remoteness level.</p>
                            <div>
                                <label>
                                    <input type="radio"
                                           ng-model="vm.vis.remotenessLevel"
                                           value="all"
                                           ng-change="vm.selectedLocationsChanged()"
                                            >
                                    All
                                </label>
                            </div>
                            <div ng-repeat="remotenessLevel in vm.remotenessLevels">
                                <label>
                                    <input type="radio"
                                           ng-model="vm.vis.remotenessLevel"
                                           value="{{ remotenessLevel.ra_name }}"
                                           ng-change="vm.selectedLocationsChanged()"
                                            >
                                    {{ remotenessLevel.ra_name }}
                                </label>
                            </div>
                        </div>

                    </div>

                    <div ng-show="vm.vis.locations.length > 0">
                        <h2><i class="fa fa-list-alt"></i> Topics of interest</h2>
                        <div class="form-group">
                            <label>Choose topic(s) of interest <small class="text-muted">Required</small></label>

                            <ui-select multiple
                                       theme="bootstrap"
                                       ng-model="vm.vis.topics"
                                       ng-disabled="disabled"
                                       reset-search-input="true"
                                       style="width: 100%;"
                                       on-select="vm.selectedTopicsChanged($item, $model)"
                                       on-remove="vm.selectedTopicsChanged($item, $model)">
                                <ui-select-match placeholder="Select 1 or More Topics">
                                    <span class="text-capitalize">{{ $item.label }}</span>

                                </ui-select-match>
                                <ui-select-choices repeat="column in vm.columns | propsFilter: {label: $select.search}">
                                    <div ng-bind-html="column.label | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>

                        </div>


                        <div>
                            <h2><i class="fa fa-map-marker"></i> Map Visualization</h2>

                            <div class="form-group">
                                <label>Choose topic for bubble <small class="text-muted">Optional</small></label>

                                <ui-select theme="bootstrap"
                                           ng-model="vm.vis.bubble.topic"
                                           ng-disabled="disabled"
                                           reset-search-input="true"
                                           style="width: 100%;"
                                           on-select="vm.selectedBubbleTopicChanged($item, $model)">
                                    <ui-select-match placeholder="Select topics of interest(s)">
                                        <span class="text-capitalize">{{$select.selected.label }}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="column in vm.vis.topics | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="column.label | highlight: $select.search" ></div>
                                    </ui-select-choices>
                                </ui-select>

                            </div>

                            <div class="form-group">
                                <label>
                                    Choose topic for choropleth <small class="text-muted">Optional</small>
                                </label>
                                <ui-select theme="bootstrap"
                                           ng-model="vm.vis.choropleth.topic"
                                           ng-disabled="disabled"
                                           reset-search-input="true"
                                           style="width: 100%;"
                                           on-select="vm.selectedRegionTopicChanged($item, $model)">
                                    <ui-select-match placeholder="Select topics of interest(s)">
                                        <span class="text-capitalize">{{$select.selected.label }}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="column in vm.vis.topics | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="column.label | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

            <div class="col-md-6 +fullheight" style="position: relative;">
                    <!--ng-class="{'col-sm-9': !vm.isDataSelected(), 'col-md-6': vm.isDataSelected()}">-->
                <cartodb-map top="vm.bubbleLayer" bottom="vm.regionLayer"></cartodb-map>

                <div class="well" style="position: absolute; top: 10px; right: 30px" ng-show="feature">
                    <div ng-repeat="selection in feature">
                        <div class="text-capitalize">
                            <strong>{{ selection.label }}</strong>
                        </div>
                        <div>
                            <em>{{ selection.level_name }}</em> - {{ selection.value }}
                        </div>
                    </div>
                </div>

                <!--<div style="position:relative">

                </div>-->
            </div>

            <div class="col-md-3 +fullheight">
                <p class="text-muted" style="margin-top:40px" ng-hide="vm.isDataSelected()">
                    Select a place and a topic to see data.
                </p>
                <div ng-show="vm.isDataSelected()">
                    <h2 style="margin-top: 30px;">Data</h2>
                    <div style="overflow-x: scroll">
                        <table class="table table-bordered">
                            <tr ng-repeat="row in vm.tableData">
                                <td ng-repeat="cell in row track by $index">
                                    {{ cell }}
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!--<h3>Bar Chart</h3>-->
                    <div ng-show="vm.chartData.length">
                        <googlechart data="vm.chartData" style="margin-top:20px;"></googlechart>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>