<div class="modal-header">
  <h3 class="modal-title">{{topic.description}}</h3>
</div>
<div class="modal-body">
  <dl>
    <dt>Name</dt>
    <dd><pre ng-bind="topic.name"></pre></dd>
  </dl>
  <dl>
    <dt>Description</dt>
    <dd ng-bind="topic.description"></dd>
  </dl>
  <dl ng-if="topic.expression">
    <dt>Expression</dt>
    <dd>
      <pre class="wrap-whole-words"
        ng-bind="topic.expression"></pre>
    </dd>
  </dl>
  <dl ng-if="topic.from">
    <dt>Original Geography</dt>
    <dd>
      <code ng-bind="topic.from"></code>
    </dd>
  </dl>
  <dl>
    <dt>Source</dt>
    <dd ng-init="s = topic.source.name">
      <span ng-if="s" ng-bind="s"></span>
      <span ng-if="!s">Unknown</span>
    </dd>
  </dl>
  <dl ng-if="topic.source.license" ng-init="l = topic.source.license">
    <dt>Source Licence</dt>
    <dd>
      <a ng-if="l.url" href="{{l.url}}" ng-bind="l.type"></a>
      <span ng-if="!l.url" ng-bind="l.type"></span>
    </dd>
  </dl>
  <dl ng-if="topic.source.notes">
    <dt>Source Notes</dt>
    <dd><pre ng-bind="topic.source.notes"></pre></dd>
  </dl>
  <dl ng-if="topic.source.url">
    <dt>Source URL</dt>
    <dd>
      <a href="{{topic.source.url}}">{{topic.source.url}}</a>
    </dd>
  </dl>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">Close</button>
</div>
