<div class="modal-header">
  <h3 class="modal-title">Select topics</h3>
</div>
<div class="modal-body">
  <input type="text"
    class="form-control"
    placeholder="Search for..."
    ng-model="search">
  <br>
  <div>{{visibleTopics.length}} topics</div>
  <br>
  <dtable class="material dt"
      options="tableOptions"
      rows="visibleTopics"
      selected="selectedTopics"
      ng-init="initDataTable();"></dtable>
  <br>
  <div class="input-group">
    <label for="attribute-grouping-selection">Group by:</label>
    <ul id="attribute-grouping-selection" class="nav nav-pills">
      <li ng-repeat="opt in groupByOptions" role="presentation" ng-class="{active: opt==grouping}">
        <a class="capitalize" href ng-click="groupBy(opt)">{{opt}}</a>
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">Close</button>
</div>
